body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 20px;
}

button#open {
  display: block;
  margin: 0 auto;
}

h1 {
	  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea, input[type="number"] {
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  height: auto;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
